{% extends "base.html" %}
{% block content %}
    <div class="grid grid-cols-4 gap-4">
        {% for book in books %}
            <div class=" h-[30rem] flex flex-col justify-between">
                <a href="{% url "book_details" book.id %}" class="flex flex-col h-full">
                    {% if book.cover_image %}
                        <img class="object-cover rounded-lg w-auto h-[320px] hover:opacity-80"
                             src="{{ book.cover_image.url }}"
                             height=""
                             width=""
                             alt="book_cover">
                    {% else %}
                        <div class="h-[320px] w-auto bg-gray-400 opacity-70 hover:bg-gray-300 rounded-lg flex items-center justify-center text-3xl font-thin">
                            No image
                        </div>
                    {% endif %}
                    <p class="text-2xl font-bold mt-3">{{ book.title|truncatechars:20 }}</p>
                    <p class="text-md mb-3 min-h-[4rem] max-h-[4rem] overflow-hidden ">{{ book.description | truncatechars:60 }}</p>
                    <hr class="border-2 rounded-full ">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
