{% extends "base.html" %}
{% block content %}
  <div>
    <p>{{ book.title }}</p>
    <p>{{ book.description }}</p>
    <p>{{ book.published_date }}</p>
    <p>{{ book.author.name }}</p>
    <hr />
    {% include "reviews/review_list.html" %}
    <hr />
    {% include "reviews/add_review.html" %}
    <hr />
    {% if user.is_authenticated and user.userprofile.is_admin %}
      <button>
        <a href="{% url 'delete_book' book.id %}">Delete</a>
      </button>
      <a href="{% url 'edit_book' book.id %}">
        <button>Edit</button>
      </a>
    {% endif %}
    <button>
      <a href="{% url 'index' %}">Back</a>
    </button>
  </div>
{% endblock content %}
